---
interface Props {
  translateY?: number;
  translateZ: number;
  class?: string;
}

const { translateY, translateZ, class: className } = Astro.props;
---

<div class:list={["card-content", className]}>
    <slot/>
</div>

<style lang="scss" define:vars={{
  "card-content-translate": `translateY(${translateY ?? 0}px) translateZ(${translateZ}px)`,
}}>
    .card-content {
      transform: translateZ(0);
      transition: transform .2s;
    }

    :global(.card-3d--focused) {
      .card-content {
        transform: var(--card-content-translate);
      }
    }
</style>
