---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import RecipeDetails from '../../components/RecipeDetails.astro';

export async function getStaticPaths() {
	const allRecipes = await getCollection('recipes');
  	return allRecipes.map(recipe => ({
		params: { slug: recipe.slug },
		props: { recipe },
	}));
}

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
---

<Layout title="Welcome to Astro.">
	<main>
		<RecipeDetails recipe={recipe}/>
	</main>
</Layout>

<style>
	main {
        width: 900px;
	}
</style>
