---
import { Image } from 'astro:assets';
import AnimatedBackground from './AnimatedBackground.astro';
import concentricRings from "../../images/concentric-rings.png";
---

<div class="header-background">
    <AnimatedBackground/>
    <Image class="rings" src={concentricRings} alt="" height="1024"/>
</div>

<style lang="scss">
    .header-background {
        width: 100%;
        height: 800px;
        position: absolute;
        top: 0;
        display: flex;
        z-index: -1;
        mask-image:
            radial-gradient(ellipse at 50% 100%, transparent 85%, rgba(0,0,0,0.4)),
            radial-gradient(ellipse at 100% 100%, transparent 75%, black),
            radial-gradient(ellipse at 100% 100%, transparent 75%, black),
            radial-gradient(circle at 0 -50%, black, transparent 45%),
            radial-gradient(ellipse at 50% 0, black, transparent 40%),
            radial-gradient(ellipse at 80% -80%, black, transparent 40%),
        ;

        @media (max-width: $md) {
            opacity: .4;
        }

        :global(> *) {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            min-height: 100%;
        }
    }

    .rings {
        mix-blend-mode: color-dodge;
        min-height: 1024px;
        object-fit: cover;
    }
</style>
