---
import HeaderBackground from "./HeaderBackground.astro";
import NewHero from "./NewHero.astro";
---

<section>
    <HeaderBackground/>
    <NewHero/>
</section>

<style lang="scss">
    section {
        padding-top: 5rem;
    }
</style>