---
import heroBowl1 from "../../images/hero-bowl-1.png";
import heroBowl2 from "../../images/hero-bowl-2.png";
import heroBowl3 from "../../images/hero-bowl-3.png";
import heroBowl4 from "../../images/hero-bowl-4.png";
import LayeredHeroImage from './LayeredHeroImage.astro';

const baseUrl = import.meta.env.BASE_URL;
---

<div class="image-container">
    <LayeredHeroImage
        class="bowl-image"
        imageLayers={[heroBowl1, heroBowl2, heroBowl3, heroBowl4]}
        title="Signature Bowl"
    />
    <video width="1280" height="720" autoplay muted loop playsinline>
        <source src=`${baseUrl}/steam.webm` type="video/webm">
    </video>
</div>

<style lang="scss">
    .image-container {
        flex: 1 1 auto;
        justify-self: center;
        position: relative;
        width: 320px;
        max-width: 100%;
        min-height: 250px;
    }

    .bowl-image {
        position: absolute;
        bottom: -210px;
        right: -50px;
        width: 70vw;
        max-width: 550px;
        min-width: 400px;
        height: auto;
        transform: rotate(-5deg);

        @media (max-width: 800px) {
            right: -50px;
            bottom: -130px;
        }
    }

    video {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(30%, -20%);
        display: block;
        width: 140vw;
        max-width: 1400px;
        min-width: 1100px;
        height: auto;
        mix-blend-mode: screen;
        mask-image: linear-gradient(to bottom, black 70%, transparent);
        opacity: .35;

        @media (max-width: 800px) {
            transform: translate(30%, -20%);
        }
    }
</style>
