---
import NewRecipeGrid from '../components/NewRecipeGrid.astro';
import NewLayout from '../layouts/NewLayout.astro';
---

<NewLayout title="Bowls">
	<main>
		<h1>Bowls <span class="small">& more</span></h1>
		<NewRecipeGrid/>
	</main>
</NewLayout>

<style lang="scss">
	h1 {
		color: rgb(245, 245, 245);
	}
</style>
