---
import NewRecipeGrid from '../components/NewRecipeGrid.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Bowls <span class="small">& more</span></h1>
		<NewRecipeGrid/>
	</main>
</Layout>

<style>
	:root {
		background: #202020;
		background: radial-gradient(at center bottom, #202020, #101010);
		background-attachment: fixed;
	}
</style>
