---
import RecipeGrid from '../components/RecipeGrid.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Bowls <span class="small">& more</span></h1>
		<RecipeGrid/>
	</main>
</Layout>

<style>
	:global(h2) {
		font-size: min(12rem, 20vw);
		color: rgb(var(--text-lighter));
		margin-bottom: -.2em;
		mask-image: linear-gradient(to bottom, #fff, #0000);
	}
</style>
