---
import RecipeGrid from '../components/RecipeGrid.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to Astro.">
	<main>
		<h1>Bowls <span class="small">& more</span></h1>
		<RecipeGrid/>
	</main>
</BaseLayout>
