---
import { getImage } from 'astro:assets';
import brushImage from "../images/brush-stroke-dark.jpg";

interface Props {
  hueRotate: number;
}

const { hueRotate } = Astro.props;

const optimizedImage = await getImage({src: brushImage});
---

<div class="brush">
    <slot/>
</div>

<style lang="scss" define:vars={{
    "brush-image-src": `url(${optimizedImage.src})`,
    "hue-rotate": `${hueRotate}deg`
}}>
    .brush {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: var(--brush-image-src);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            mix-blend-mode: multiply;
            transform: scale(1.7);
            transform-origin: center;
            filter: hue-rotate(var(--hue-rotate));
            z-index: -1;
        }
    }
</style>