---
import { Image } from 'astro:assets';
import heroBowl from "../images/hero-bowl.png";
import heroSilhouette from "../images/hero-silhouette.svg";
import heroGlow from "../images/hero-glow.svg";
---

<section class="hero">
    <div class="text-container">
        <h1><span class="small">Finest Selection</span>Benjamins Bowls</h1>
        <p>
            Ausgewählte Rezepte für Bowls und deren Komponenten.
            Auch für Grillbeilagen oder Salate geeignet.
            Guten Appetit!
        </p>
    </div>
    <div class="image-container">
        <Image class="glow" src={heroGlow} alt="" height="1200"/>
        <Image class="silhouette" src={heroSilhouette} alt="" height="2000"/>
        <Image src={heroBowl} alt="" height="500"/>
    </div>
</section>

<style lang="scss">
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 10rem;
    }

    h1 {
        text-align: left;
    }

    p {
        font-size: 1.2rem;
        max-width: 500px;
    }

    .image-container {
        position: relative;

        .silhouette {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
        }

        .glow {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(20%, -50%);
            z-index: -2;
            filter: blur(4px);
        }
    }

    .layered-image {
        padding: 2rem;
        width: 500px;
    }
</style>
