---
import type { CollectionEntry } from 'astro:content';
import IngredientCard from './IngredientCard.astro';
import Grid from './Grid.astro';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
  direction: "horizontal" | "vertical";
}

const { recipe, direction } = Astro.props;

const largeIngredients = recipe.data.ingredients
    .filter(ingredient => ingredient.hasOwnProperty("amount"));
const smallIngredients = recipe.data.ingredients
    .filter(ingredient => !ingredient.hasOwnProperty("amount"));
---

<div class="container">
    <Grid>
        {largeIngredients.map(ingredient => (
            <IngredientCard {ingredient} {direction} size="large"/>
        ))}
    </Grid>
    <Grid>
        {smallIngredients.map(ingredient => (
            <IngredientCard {ingredient} {direction} size="small"/>
        ))}
    </Grid>
</div>

<style lang="scss">
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    img {
        width: calc(100% + 1rem);
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: .8rem;
        margin: -0.5rem;
    }

    p {
        margin: 0;
        color: rgb(var(--text-light));
    }
</style>