---
import { getCollection, type CollectionEntry } from 'astro:content';
import NewRecipeCard from '../components/recipe-card/NewRecipeCard.astro';
import Grid from './Grid.astro';

type Recipe = CollectionEntry<'recipes'>;
type Category = Recipe["data"]["category"];

const allRecipes = await getCollection('recipes');

const categoryMap: { [id in Category ] : string } = {
    SideDish: "Beilagen",
    Salad: "Salate",
    Dressing: "Dressings"
};
const categories = Object.keys(categoryMap) as Array<keyof typeof categoryMap>;
---

{categories.map(category => (
    <h2>{categoryMap[category]}</h2>
    <Grid class="cards-list" minItemWidth="300px" maxColumns={3}>
        {allRecipes.filter(r => r.data.category === category).map(recipe => {
            return <NewRecipeCard recipe={recipe}/>
        })}
    </Grid>
))}

<style>
    h2 {
        font-size: min(12rem, 20vw);
		color: rgb(var(--text-lighter));
		margin-bottom: -.2em;
		mask-image: linear-gradient(to bottom, #fff, #0000);
    }
</style>
