---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { Icon } from "astro-icon/components";
import RecipePreview from './RecipePreview.astro';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
const { Content } = await recipe.render();
---

<h2>{recipe.data.title}</h2>
        <Image src={recipe.data.image} alt={recipe.data.title} transition:name="recipe-image"/>
<Content/>
<RecipePreview recipe={recipe}/>

<style lang="scss">
    img {
        max-width: 600px;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 1rem;
    }
</style>