---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { Icon } from "astro-icon/components";
import IngredientGrid from './IngredientGrid.astro';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
const { Content } = await recipe.render();
---

<div class="grid">
    <section class="header">
        <Image src={recipe.data.image} alt={recipe.data.title} transition:name="recipe-image"/>
    </section>
    <section class="ingredients">
        <IngredientGrid recipe={recipe}/>
    </section>
    <Content/>
</div>

<style lang="scss">
    h2 {
        margin: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 3rem;
        color: #808080;
        font-size: 1.7rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 4fr 3fr;
        gap: 2rem;
        margin-bottom: 4rem;
        position: relative;

        @media (max-width: $md) {
            grid-template-columns: 1fr;
        }
    }

    img {
        max-width: 600px;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 1rem;
    }

    .ingredients {
        grid-row: span 2;
        margin-top: 1rem;
    }
</style>