---
import { Icon } from 'astro-icon/components';

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
    <Icon name="solar:arrow-right-broken" size={24} />
    <slot/>
</a>

<style lang="scss">
    a {
        color: rgb(var(--accent));
        border: 2px solid rgba(var(--accent), .1);
		background: rgb(var(--page-background));
        padding: .5em 1em;
        border-radius: .5rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .5ch;
        transition: border-color 150ms ease;

        &:hover {
            border-color: rgb(var(--accent));
        }
    }
</style>