---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import NewLayout from '../../../layouts/NewLayout.astro';
import NewRecipeDetails from '../../../components/NewRecipeDetails.astro';

export async function getStaticPaths() {
	const allRecipes = await getCollection('recipes');
  	return allRecipes.map(recipe => ({
		params: { slug: recipe.id },
		props: { recipe },
	}));
}

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
---

<NewLayout title={recipe.data.title}>
	<main>
		<NewRecipeDetails recipe={recipe}/>
	</main>
</NewLayout>

<style lang="scss">
	main {
        width: 900px;
		margin-bottom: 1rem;

		@media (min-width: $md) {
			margin-top: 4rem;
		}
	}

	// ### START WORKAROUND ###
	// Makes missing clipping during view-transitions less noticeable.
	// Might be replaced by "Nested view transitions" which is estimated for Chrome 138.
	// https://chromestatus.com/feature/5162799714795520
	:global(html::view-transition-old(*)) {
        clip-path: xywh(0 0 100% 100%);
    }
    :global(html::view-transition-new(*)) {
        clip-path: xywh(-100% 0 200% 90%);
    }
    :global(html::view-transition-old(root)),
	:global(html::view-transition-new(root)) {
        clip-path: none;
    }
	// ### END WORKAROUND ###
</style>
