---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import NewLayout from '../../../layouts/NewLayout.astro';
import NewRecipeDetails from '../../../components/NewRecipeDetails.astro';

export async function getStaticPaths() {
	const allRecipes = await getCollection('recipes');
  	return allRecipes.map(recipe => ({
		params: { slug: recipe.id },
		props: { recipe },
	}));
}

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
---

<NewLayout title={recipe.data.title}>
	<main>
		<NewRecipeDetails recipe={recipe}/>
	</main>
</NewLayout>

<style lang="scss">
	main {
        width: 900px;
		margin-bottom: 1rem;

		@media (min-width: $md) {
			margin-top: 4rem;
		}
	}
</style>
