---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/averia-serif-libre';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global lang="scss">
	:root {
		--accent: 203, 200, 197;
		--text-base: 0, 0, 0;
		--text-light: 128, 128, 128;
		--text-lighter: 200, 200, 200;
		--page-background: 245, 243, 240;
		--card-background: 255, 255, 255;
	}
	
	html {
		font-family: system-ui, sans-serif;
		font-size: 18px;
		line-height: 1.5;
		background: rgb(var(--page-background));
		color: rgb(var(--text-base));
	}

	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
	}
	body {
		margin: 0;
	}

	h1 {
		font-family: 'Averia Serif Libre', system-ui;
		font-size: min(4rem, 14vw);
		line-height: 1;
		margin-bottom: 1em;
		text-align: center;
	}

	h2 {
		font-family: 'Averia Serif Libre', system-ui;
		font-size: min(2rem, 7vw);
		font-weight: 400;
		line-height: 1;
		margin-top: 3rem;
		hyphens: auto;
		letter-spacing: -.04em;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1;
		hyphens: auto;

		/* @media (max-width: $sm) {
			font-size: 1.8rem;
		} */
	}
	
	h2 + hr {
		margin-top: -1rem;
	}

	hr {
		background-color: #d0d0d0;
		height: 1px;
		border: 0;
		margin-bottom: 2rem;
	}

	main {
		margin: auto;
		width: 1200px;
		max-width: calc(100% - 2rem);
	}

	.small {
		display: block;
		font-size: .4em;
		color: rgb(var(--text-light));
		line-height: 2;
	}
</style>
